.cardsContainer {
  display: flex;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
}

.card {
  width: fit-content;
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: 1px solid transparent;
  outline-offset: -1px;
}

@media (hover: hover) {
  .card:hover {
    outline-color: var(--color-accent);
  }
}
