.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.profileImage {
  border-radius: 100%;
}
