.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.imageCard {
  transition: transform 0.15s ease-out;
}

.attribution,
.attribution a {
  font-size: var(--font-caption);
  color: var(--color-caption);
}

.loadMoreButton {
  align-self: center;
}

@media (hover: hover) {
  .imageCard:hover {
    transform: scale(1.02);
  }
}
