.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightContent,
.leftContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.iconContainer > a {
  display: flex;
}

@media (max-width: 480px) {
  .footer {
    align-items: flex-end;
  }

  .rightContent {
    display: flex;
    flex-direction: column-reverse;
  }
  /* .footer {
    align-items: flex-start;
    flex-direction: column-reverse;
  } */
}
