.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightContent,
.leftContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.iconContainer > a {
  display: flex;
}
